<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field fxFlexFill>
    <input
      matInput
      type="email"
      placeholder="Email Address"
      formControlName="email">
    <mat-error *ngIf="emailFormat">
      Invalid email format
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlexFill>
    <input
      matInput
      type="password"
      placeholder="Enter password"
      formControlName="password">
    <mat-error *ngIf="passwordInvalid">
      Password is required
    </mat-error>
  </mat-form-field>

  <div fxLayoutAlign="end center">
    <ng-content select="button"></ng-content>
  </div>

</form>
