<div   
  [matMenuTriggerFor]="userMenu">
  
  <img *ngIf="user?.photoURL; else userIcon"
    class="user-avatar"
    [src]="user?.photoURL" 
    alt="">

  <ng-template #userIcon>
    <button 
      mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button> 
  </ng-template>
</div>



<mat-menu #userMenu="matMenu">
  <button 
    [routerLink]="['profile']"
    mat-menu-item>
    <span>Profile</span>
  </button>
  <button 
    mat-menu-item
    (click)="logOut()">
    <span>Signout</span>
  </button>
</mat-menu> 