<div>
  <div *ngIf="user?.authenticated; else unauthenticated">
    
    <div 
    *ngIf="user?.photoURL; else userIcon"
    [matMenuTriggerFor]="userMenu">
    <img
      class="user-avatar"
      [src]="user?.photoURL" 
      alt="">
    </div>
    
    <ng-template #userIcon>
      <button 
        mat-icon-button 
        [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button> 
    </ng-template>

  </div>

  <mat-menu #userMenu="matMenu">
    <button 
      mat-menu-item>
      <span>Profile</span>
    </button>
    <button 
      mat-menu-item
      (click)="logOut()">
      <span>Signout</span>
    </button>
  </mat-menu> 

  <ng-template  #unauthenticated>
    <button 
      mat-icon-button 
      [matMenuTriggerFor]="authMenu">
      <mat-icon class="header-icon" >account_circle</mat-icon>
      {{user?.authenticated}}
    </button>
    <ng-template #defaultIcon>

    </ng-template>
    

  </ng-template>

  <mat-menu #authMenu="matMenu">
    <button 
      mat-menu-item 
      (click)="openAuthDialog('signin')">
      <mat-icon>input</mat-icon> 
      <span>Signin</span>
    </button>
    <button 
      mat-menu-item
      (click)="openAuthDialog('register')">
      <mat-icon>person_add</mat-icon>
      <span>Register</span>
    </button>
  </mat-menu> 
</div>