<div>
  <button 
    *ngIf="user?.authenticated; else avatar"
    mat-icon-button 
    [matMenuTriggerFor]="userMenu">
    <mat-icon class="header-icon" >account_circle</mat-icon>
    {{user?.authenticated}}
  </button>

  <mat-menu #userMenu="matMenu">
    <button 
      mat-menu-item>
      <span>Profile</span>
    </button>
    <button 
      mat-menu-item
      (click)="logOut()">
      <span>Signout</span>
    </button>
  </mat-menu> 

  <ng-template  #avatar>
    <button 
      mat-icon-button 
      [matMenuTriggerFor]="authMenu">
      <mat-icon class="header-icon" >account_circle</mat-icon>
      {{user?.authenticated}}
    </button>

  </ng-template>

  <mat-menu #authMenu="matMenu">
    <button 
      mat-menu-item 
      (click)="openAuthDialog('signin')">
      <mat-icon>input</mat-icon> 
      <span>Signin</span>
    </button>
    <button 
      mat-menu-item
      (click)="openAuthDialog('register')">
      <mat-icon>person_add</mat-icon>
      <span>Register</span>
    </button>
  </mat-menu> 
</div>